extends layout
block content
  .w3-card-4
    header.w3-container.w3-teal
      h1= r.TituloProcesso
    .w3-container
        ul.w3-ul.w3-card-4
            li #[b ID :] #{r.ID}
            li #[b ProcessoFull :] #{r.ProcessoFull}
            li #[b IdProcesso :] #{r.IdProcesso}
            li #[b TituloProcesso :] #{r.TituloProcesso}
            li #[b Data :] #{r.Data}
            li #[b Arquivo :] #{r.Arquivo}
            // Q: aparece-me com aspas nao permitindo que o codigo html guardado de r.ScopeContent seja interpretado, como resolver?
            // A: usar !{r.ScopeContent} em vez de #{r.ScopeContent}
            li #[b ScopeContent :] !{r.ScopeContent}
            li #[b AcessoRestrito :] #{r.AcessoRestrito}
            li #[b LocalizacaoFisica :] #{r.LocalizacaoFisica}
            li #[b LocalizacaoAnterior :] #{r.LocalizacaoAnterior}
            li #[b AnotacoesLinguagem :] #{r.AnotacoesLinguagem}
            li #[b AnotacoesTecnicas :] #{r.AnotacoesTecnicas}
            // Q: aparece-me com aspas nao permitindo que o codigo html guardado de r.MaterialRelacionado seja interpretado, como resolver?
            // A: usar !{r.MaterialRelacionado} em vez de #{r.MaterialRelacionado}
            li #[b MaterialRelacionado :] !{r.MaterialRelacionado}
    footer.w3-container.w3-teal
      h5 Generated in #{d} - #[a(href="/admin") Voltar ]